fastapi==0.115.5
langchain
langchain_anthropic
langchain_community
langchain_core
langchain_openai
langchain_deepseek
pydantic==2.9.2
PyYAML==6.0.2
SQLAlchemy==2.0.29
sqlmodel==0.0.22
uvicorn==0.32.0
mysqlclient==2.2.4
alembic==1.13.1